
    <div class="w3-container w3-teal">
        <h1>World's Famous Cuisines</h1>
        <p> Explore the Best of world Cuisine with special recommendations from our very own cohort of MS-BAIS 2020.</p>
    </div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:80%;margin-top:50px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Mexican"><img src="~/img/Home_imgs/Mexican.jpg" alt="Mexican" style="width:100%"></a>
                <h2>Mexican Delights</h2>
                <h3>Let’s give them something to taco ‘bout</h3>
                <p>Why be sad in a world that has tacos? Beans and rice and everything nice.Show them you care. Bring tacos.</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Japanese"><img src="~/img/Home_imgs/Japs.jpg" alt="Japanese" style="width:100%"></a>
                <h2>Sushi On</h2>
                <h3>Invented in Japan, Perfected in Tampa. Your feast from the East</h3>
                <p>Your sushi sanctuary. Fresh fish in every dish. Singing to a different tune-a</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Indian"><img src="~/img/Home_imgs/Indian.jpg" alt="Indian" style="width:100%"></a>
                <h2>Indian Delicacies</h2>
                <h3>When you're looking to spice things up a bit..</h3>
                <p>The taste of India. Wait no more, for your favorite Spices from India</p>
                <p>Its Hot!</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Beersindex2"><img src="~/img/Home_imgs/Beer.jpg" alt="Beer" style="width:100%"></a>
                <h2>Beer-Wisers</h2>
                <h3>Beauty is in the eye of the BEER holder.</h3>
                <p>Something Old, Something New, Something Borrowed, and Something Brewed. Why limit happy to an hour?</p>
            </div>
        </div>



        <!-- End page content -->
    </div>

    